.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto 0px auto;
}

header .container,
footer .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

header .container {
  background-color: var(--section-background-color);

  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
